.hero {
  background: black;
  text-align: center;
}
h1,
p,
h5,
h6 {
  color: aliceblue;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}
h6 {
  text-align: center;
  font-weight: lighter;
  padding: 30px 15px;
}
.hero h1 {
  font-size: 85px;
  font-weight: bold;
}
.btn {
  background-color: #cca8e9;
  color: aliceblue;
  font-size: 16px;
  padding: 7px 12px;
  margin: 45px auto;
}
.project-des,
.pro-des,
.pro-desc {
  padding: 100px 50px;
}
@media (max-widt: 900px) {
  h1 {
    font-size: 10px;
    line-height: 2;
  }
  .project-des,
  .pro-des,
  .pro-desc {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
