body {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
.hero {
  background: black;
  text-align: center;
}
.about {
  background: linear-gradient(
    109.6deg,
    rgb(9, 9, 121) 11.2%,
    rgb(144, 6, 161) 53.7%,
    rgb(0, 212, 255) 100.2%
  );
}
.info {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
}
.heading {
  color: red;
  font-size: 75px;
  padding-top: 60px;
  text-align: center;
}
.hero p {
  font-size: 47px;
  font-weight: bold;
  color: cornflowerblue;
}
.about h1 {
  font-size: 55px;
  font-weight: bold;
}
.about h2 {
  font-size: 45px;
}
h6 {
  text-align: center;
  font-weight: lighter;
  padding: 30px 15px;
}
.hero h1 {
  font-size: 85px;
  font-weight: bold;
}
.main {
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}
.btn {
  background: darkslategrey;
  font-size: 19px;
  padding: 8px 18px;
  margin: 40px auto;
}
.details p {
  text-align: center;
  padding: 25px auto;
  margin: 10px;
  font-size: 25px;
  background: lightsteelblue;
  color: black;
  border-radius: 4px;
}
.info p {
  color: aliceblue;
  padding: 10px 30px;
  margin: 10px auto;
  font-size: 22px;
}
.info img {
  padding: 25px;
  border-radius: 35px;
}
.project-des p,
.pro-des p,
.pro-desc p {
  background: lightblue;
  border-radius: 3px;
  padding: 12px 10px;
}
.links {
  background: radial-gradient(
    circle at 11.7% 80.6%,
    rgb(249, 185, 255) 0%,
    rgb(177, 172, 255) 49.3%,
    rgb(98, 203, 255) 89%
  );
}
.contact h1,
.contact h3 {
  font-size: 37px;
  line-height: 70px;
}

footer {
  padding: 35px;
  line-height: 85px;
}

footer .contact-box {
  background: black;
  color: aliceblue;
  border-radius: 7px;
  padding: 35px;
}
footer .title-box h1 {
  font-size: 40px;
}
footer p {
  text-align: center;
  color: aliceblue;
}

footer .email-link {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
}
footer .social-links a {
  margin: 0 18px;
  color: black;
  background: azure;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
}
footer .email-link:hover {
  color: cornflowerblue;
}
@media (max-widt: 900px) {
  h1 {
    font-size: 10px;
    line-height: 2;
  }

  .info div {
    column-gap: none;
  }
}
